// Widescreens
@include mediaXl {}

// Desktpos & Laptops
@include mediaLg {}

// Tablests & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

    }

}

// Smatphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        min-height: 0;
    }
}