$primary-color: #444;
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

// headding
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
}
